.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:50px ;
}
.navbar-logo {
  font-size: 30px;
  cursor: pointer;
    color: white;
}
.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-left: 80px;
}
.navbar-search input{
    width: 500px;
    height: 40px;
    font-size: 16px;

    background-color: #14161D;
    color: white;
    border: none;
    outline: none;
}
.navbar-search input::placeholder{
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.search-button{
    background-color: #14161D;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.navbar-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.navbar-navigation p {
    cursor: pointer;
    color: white;
}